@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
	font-family: 'Press Start 2P', cursive;
}

h1{
  color: #E154DD;
}

.test{
    color: #1AFFDB;
}

.red{
    color: red;
}